!!! 5
%html(lang="no")
  %head
    %meta(charset="utf-8")
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}

    %title Smidig 2012

    /[if lt IE 8]
      %link(rel="stylesheet" href="/stylesheets/ie_1140.css")
    %link(rel="stylesheet" href="/stylesheet")

    %script(charset="utf-8" src="/javascript/jquery-1.7.2.min.js")
    %script(charset="utf-8" src="/javascript/sponsor.js")
    :javascript
      smidig.sponsor.init("");
      //Fix IE missing footer-tag
      document.createElement('footer');
    = partial :facebook
    = partial :pagemap

  %body
    =yield
    %footer.page-footer
      .row
        Smidigkonferansen 2012 
        %br
        %a(href="mailto:kontakt@smidig.no") kontakt@smidig.no
    
        %h3 Godbiter fra tidligere konferanser
        %ul
          %li
            %a(href="http://vimeo.com/smidig") Videoarkiv på Vimeo
    
          - 5.times do |i|
            %li
              %a{:href=>"http://smidig#{2011 - i}.no/"}= "Smidig #{2011 - i}"
    
        %h3 Følg oss
        %ul
          %li
            %a(href="https://twitter.com/smidig") @twitter
          %li
            %a(href="http://www.facebook.com/smidig") Smidigkonferansen
          %li
            %a(href="http://lanyrd.com/2012/smidig2012") Lanyrd
    = partial :analytics
